<nav class="app-nav">
  {{#link-to "dashboard"}}
    <img src="images/telegram-logo.png"/>
  {{/link-to}}

  {{#if session.isAuthenticated}}
    <div class="right-nav">
      <img {{bind-attr src=session.user.picture}}>
      <p class="nav-username">{{session.user.id}}</p>
    </div>
  {{/if}}
</nav>

