{{#link-to "dashboard"}}
  <img src="images/telegram-logo.png"/>
{{/link-to}}

{{#if session.isAuthenticated}}
  <div class="right-nav">
    {{#link-to 'user.posts' session.user.id}}
      <img {{bind-attr src=session.user.picture}}>
      <p class="nav-username">{{session.user.id}}</p>
    {{/link-to}}
    <span><a href="#" {{action "signOut"}}>Sign out</a></span>
  </div>
{{/if}}


