<h2 class="sign-in-form-header">Create your account</h2>
<form>
  <input type="text" placeholder="Enter your name ..." class='username-input'>
  <input type="text" placeholder="Enter your username ..." class='username-input'>
  <input type="email" placeholder="Enter your email ..." class='username-input'>
  <input type="password" placeholder="Enter your password ..." class='password-input'>

  <div class="call-to-action-options clearfix">
    <input type="submit" value="Sign up">
    <p class="forget-or-sign-up">
      {{#link-to "home.login"}}Login{{/link-to}}
    </p>
  </div>
</form>
