<h2 class="sign-in-form-header">Get going ...</h2>
<form>
  <input type="text" placeholder="Enter your username ..." class='username-input'>
  <input type="password" placeholder="Enter your password ..." class='password-input'>

  <div class="call-to-action-options clearfix">
    <input type="submit" value="Log in">
    <p class="forget-or-sign-up">
      {{#link-to "home.newpassword"}}Recover password{{/link-to}} or {{#link-to "home"}}Sign up{{/link-to}}
    </p>
  </div>
</form>
