<h2 class="sign-in-form-header">Reset password</h2>
<form {{action "reset_password" on="submit"}}>
  {{input value=emailField placeholder="Enter your email ..." class="username-input"}}

  <div class="call-to-action-options clearfix">
    <input type="submit" value="Reset password">
  </div>
</form>

