{{#each}}
  <li>
    <div class="user-list-container">
      <img src="https://lh6.googleusercontent.com/-hBbaFeCzpFs/AAAAAAAAAAI/AAAAAAAAANA/r02VbznNRIs/w48-c-h48/photo.jpg">
      {{#link-to "user.posts" this class="user-link"}}{{id}}{{/link-to}}

      <form>
        <input type="submit" value="Follow">
      </form>
    </div>
  </li>
{{/each}}

