{{#each}}

<li class="user-list">
  <div class="user-list-container">
    <img src="https://lh6.googleusercontent.com/-hBbaFeCzpFs/AAAAAAAAAAI/AAAAAAAAANA/r02VbznNRIs/w48-c-h48/photo.jpg">
    {{#link-to "user.posts" this class="user-link"}}{{id}}{{/link-to}}

    <div class="user-follow-button-container">
      {{follow-button user=this}}
    </div>
  </div>
</li>

{{/each}}

